- if exhibits.any?
  %table
    %thead
      %tr
        %th 投票対象
        %th タイトル
        %th 出品者
        %th 説明
    %tbody
      - exhibits.each do |exhibit|
        %tr
          %td
            = f.radio_button :exhibit_id, exhibit.id
          %td
            = exhibit.title
          %td
            = exhibit.user.nickname
          %td
            = exhibit.description
- else
  %p まだ何もありません
