%table
  - if exhibits.any?
    %thead
      %tr
        %th タイトル
        %th 出品者
        %th 説明
    %tbody
      - exhibits.each do |exhibit|
        %tr
          %td
            = exhibit.title
          %td
            = exhibit.user.nickname
          %td
            = exhibit.description
  - else
    %p まだ何もありません
