%h2 ランキングメニュー

= link_to '総合ランキングをみる', ranking_total_path, class: 'button radius'
%p こちらで一位を取った人が栄えあるキングの座を獲得します！todo うまい説明を書く（思いつかない）

= link_to 'タイプ別ランキングをみる', ranking_by_type_path, class: 'button radius'
%p 料理・LT ごとに、得票数の多い順確認できます。
