- if exhibits.any?
  %table.my-exhibits-table
    %thead.my-exhibits-table__header
      %tr
        %th タイトル
        %th 出品者
        %th 説明
        %th 画像
    %tbody.my-exhibits-table__body
      - exhibits.each do |exhibit|
        %tr
          %td.my-exhibit__title
            = link_to exhibit.title, edit_my_exhibit_path(exhibit)
          %td.my-exhibit__exhibitor-nickname
            = exhibit.user.nickname
          %td.my-exhibit__description
            = exhibit.description
          %td
            = exhibit_image_tag(exhibit.image_url)
- else
  %p まだ何もありません
