%h2 「#{@exhibit.title}」の編集
- if @exhibit.errors.present?
  - @exhibit.errors.full_messages.each do |message|
    .alert-box.alert(data-alert)
      = message
      %a.close(href='#') &times;

= form_for @exhibit.becomes(Exhibit), url: my_exhibit_path, method: :put do |f|
  = render partial: 'shared/exhibit_form', locals: { f: f, exhibit_types: @exhibit_types }
